@import url(./variables.css);
@import url(./dark-theme.css);

:root {
  --text-color: #000000;
  --accent-color: #0b57d0;
  --accent-secondary-color: #034c88;
  --accent-bg-color: #f3f6fc;
  --bg-color: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  color: var(--text-color);
  background-color: var(--bg-color);
}

main {
  padding: 16px;
}

nav {
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

nav button:not(:last-child) {
  margin-right: 8px;
}

.flex-col,
form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.space-between {
  justify-content: space-between;
}

.flex-basis-33 {
  flex-basis: 33%;
}

.wrap {
  flex-wrap: wrap
}

textarea,
select,
input {
  background-color: var(--accent-bg-color);
  font-size: 1.1rem;
  color: var(--text-color);
}

textarea,
select,
input {
  border: none;
  border-radius: 8px;
  height: var(--elements-height);
  padding: 4px 16px;
}

textarea {
  height: 150px;
  padding: 16px;
}

button {
  background-color: var(--accent-color);
  color: var(--bg-color);
  height: var(--elements-height);
  border: none;
  border-radius: var(--border-radius-medium);
  padding: 4px 16px;
}

button:hover {
  background-color: var(--accent-secondary-color);
  color: var(--bg-color);
}
